{% extends 'base.html.twig' %}

{% block title %}
   Guest List
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header text-center"><strong>Liste des Clients</strong></div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Guest ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Arrival Date</th>
                <th>Departure Date</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for guest in guests %}
            <tr>
                <td>{{ guest.id }}</td>
                <td>
                    {{ guest.firstName }}
                </td>
                <td>
                    {{ guest.lastName }}
                </td>
                <td>{{ guest.entryDate }}</td>
                <td>{{ guest.departureDate }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{env.base_path ~ 'guests/' ~ guest.id }}">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}